MDS/MDS.WorkflowExtenders/Service References/SiteWorkflowService/SiteWorkflowActivationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sharePoint.workflow" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sharePoint.workflow" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sharePoint.workflow">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="StartSiteWorkflow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="workflowName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eventData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartSiteWorkflowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StartSiteWorkflowResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteWorkflowAssociations">
        <s:complexType />
      </s:element>
      <s:element name="GetSiteWorkflowAssociationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSiteWorkflowAssociationsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSiteWorkflowDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="workflowName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSiteWorkflowDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSiteWorkflowDetailsResult" type="tns:SiteWorkflowInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SiteWorkflowInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WorkflowName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkflowTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkflowParameters" type="tns:ArrayOfSiteWorkflowParameterInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSiteWorkflowParameterInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SiteWorkflowParameterInfo" nillable="true" type="tns:SiteWorkflowParameterInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SiteWorkflowParameterInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="StartDeclarativeSiteWorkflow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="workflow" type="tns:SiteWorkflowInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartDeclarativeSiteWorkflowResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StartSiteWorkflowSoapIn">
    <wsdl:part name="parameters" element="tns:StartSiteWorkflow" />
  </wsdl:message>
  <wsdl:message name="StartSiteWorkflowSoapOut">
    <wsdl:part name="parameters" element="tns:StartSiteWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="GetSiteWorkflowAssociationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSiteWorkflowAssociations" />
  </wsdl:message>
  <wsdl:message name="GetSiteWorkflowAssociationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSiteWorkflowAssociationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSiteWorkflowDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSiteWorkflowDetails" />
  </wsdl:message>
  <wsdl:message name="GetSiteWorkflowDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSiteWorkflowDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="StartDeclarativeSiteWorkflowSoapIn">
    <wsdl:part name="parameters" element="tns:StartDeclarativeSiteWorkflow" />
  </wsdl:message>
  <wsdl:message name="StartDeclarativeSiteWorkflowSoapOut">
    <wsdl:part name="parameters" element="tns:StartDeclarativeSiteWorkflowResponse" />
  </wsdl:message>
  <wsdl:portType name="SiteWorkflowActivationServiceSoap">
    <wsdl:operation name="StartSiteWorkflow">
      <wsdl:input message="tns:StartSiteWorkflowSoapIn" />
      <wsdl:output message="tns:StartSiteWorkflowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteWorkflowAssociations">
      <wsdl:input message="tns:GetSiteWorkflowAssociationsSoapIn" />
      <wsdl:output message="tns:GetSiteWorkflowAssociationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteWorkflowDetails">
      <wsdl:input message="tns:GetSiteWorkflowDetailsSoapIn" />
      <wsdl:output message="tns:GetSiteWorkflowDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartDeclarativeSiteWorkflow">
      <wsdl:input message="tns:StartDeclarativeSiteWorkflowSoapIn" />
      <wsdl:output message="tns:StartDeclarativeSiteWorkflowSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SiteWorkflowActivationServiceSoap" type="tns:SiteWorkflowActivationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartSiteWorkflow">
      <soap:operation soapAction="http://sharePoint.workflow/StartSiteWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteWorkflowAssociations">
      <soap:operation soapAction="http://sharePoint.workflow/GetSiteWorkflowAssociations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteWorkflowDetails">
      <soap:operation soapAction="http://sharePoint.workflow/GetSiteWorkflowDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartDeclarativeSiteWorkflow">
      <soap:operation soapAction="http://sharePoint.workflow/StartDeclarativeSiteWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SiteWorkflowActivationServiceSoap12" type="tns:SiteWorkflowActivationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartSiteWorkflow">
      <soap12:operation soapAction="http://sharePoint.workflow/StartSiteWorkflow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteWorkflowAssociations">
      <soap12:operation soapAction="http://sharePoint.workflow/GetSiteWorkflowAssociations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteWorkflowDetails">
      <soap12:operation soapAction="http://sharePoint.workflow/GetSiteWorkflowDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartDeclarativeSiteWorkflow">
      <soap12:operation soapAction="http://sharePoint.workflow/StartDeclarativeSiteWorkflow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SiteWorkflowActivationService">
    <wsdl:port name="SiteWorkflowActivationServiceSoap" binding="tns:SiteWorkflowActivationServiceSoap">
      <soap:address location="http://scheihal-01:85/_layouts/MDS.SharePoint/SiteWorkflowActivationService.asmx" />
    </wsdl:port>
    <wsdl:port name="SiteWorkflowActivationServiceSoap12" binding="tns:SiteWorkflowActivationServiceSoap12">
      <soap12:address location="http://scheihal-01:85/_layouts/MDS.SharePoint/SiteWorkflowActivationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>